controller:
  adminUser: admin
  adminPassword: admin123

  serviceType: LoadBalancer

  persistence:
    enabled: true
    size: 10Gi

  resources:
    requests:
      cpu: "500m"
      memory: "1Gi"
    limits:
      cpu: "1000m"
      memory: "2Gi"
